.Letters2024 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 20% 9.5% 10% 6.5%;
    width: 84%;
}

.dukdams {
    margin: 0% 14% 10% 14%;
    width: 72%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
    row-gap: 10%;
}

.letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.letterImg {
    max-width: 100%;
}

.letterUser {
    margin-top: 10px;
}

.addDukdam {
    position: fixed;
    bottom: 3%;
    right: 15%;
    width: 8%;
}
